<div class="modal fade" id="edit_organizations_user_form" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><%= @organizations_user.user_username %>申请加入<%= @organization.name %></h4>
      </div>
      <div class="modal-body">
        <div class="note note-success">
          <p>
            您可以把该用户加入机构，或者拒绝，后者设置为机构管理员
          </p>
        </div>
        <%= render "admin_form" %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script>
  //放在application 里面时候，无法正常执行
  var organizationsUsersFormValidate = function() {
    var organizationsUsersForm = $('#edit_organizations_user');
    organizationsUsersForm.validate({
      rules: {
        "organizations_user[desc]": {
          minlength: 2,
          required: true
        }
      },
      messages: {
        "organizations_user[desc]": {
          minlength: "至少为2个字",
          required: "请填写申请的相关信息"
        }
      }
    });
  };
  $(function(){
    organizationsUsersFormValidate();
  });
</script>