<div class="joined_organization">
  <% if current_user_joined_organization(organization) %>
    <%= link_to "退出机构", leave_organization_organizations_users_path(organization), class: "leave_organization btn btn-default",
                remote: true, method: :delete, data: {confirm: t("#{OrganizationsUser.to_s.underscore}.are_you_sure_leave")} %>
  <% else %>
    <%= link_to new_organization_organizations_user_path(organization), class: "btn btn-circle btn-success", remote: true do %>
      <i class="fa fa-plus"></i> 加入
    <% end %>
  <% end %>
</div>
