<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption font-red-sunglo">
          <i class="icon-settings font-red-sunglo"></i>
          <span class="caption-subject bold uppercase">申请加入</span>
        </div>
      </div>

      <div class="portlet-body form">
        <div class="note note-info">
          <p>
            申请加入该机构，申请完后，机构管理员会尽快审核。
          </p>
        </div>
        <%= render "form" %>
      </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->

  </div>
</div>