<div class="col-md-12">
  <!-- BEGIN SAMPLE TABLE PORTLET -->
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-cogs font-green-sharp"></i>
          <span class="caption-subject font-green-sharp bold uppercase">
            <%= @manageable.name %>用户列表
          </span>
      </div>
      <div class="tools">
        <a class="collapse" data-original-title="" href="javascript:;" title=""></a>
        <a class="config" data-original-title="" data-toggle="modal" href="#portlet-config" title=""></a>
        <a class="reload" data-original-title="" href="javascript:;" title=""></a>
        <a class="remove" data-original-title="" href="javascript:;" title=""></a>
      </div>
    </div>
    <div class="portlet-body flip-scroll">
      <hr/>
      <div class="row">
        <% @memberships.each do |memberships| %>
          <div class="col-sm-12 col-sm-2">
            <%= render 'memberships/membership', memberships: memberships %>
          </div>
        <% end %>
      </div>

      <%= paginate @memberships %>
      <br>

    </div>
  </div>
  <!-- END SAMPLE TABLE PORTLET -->
</div>

