<div class="media">
  <h3>Comments</h3>

  <div class="comments-list">
    <% commentable.comments.each do |comment| %>
     <%= render 'comments/comment', comment: comment, commentable: commentable %>
    <% end %>
  </div>

  <%= render 'comments/form', commentable: commentable, comment: Comment.new %>

</div>
