  <!-- BEGIN Portlet PORTLET-->
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-paper-plane font-yellow-casablanca"></i>
								<span class="caption-subject bold font-yellow-casablanca uppercase">
								群组主题列表 </span>
        <span class="caption-helper">
          <%= link_to "加入该群组", new_group_groups_user_path(@group) %>
        </span>
      </div>
      <div class="inputs">
        <div class="portlet-input input-inline input-medium">
          <div class="input-group">
            <input type="text" class="form-control input-circle-left" placeholder="search...">
										<span class="input-group-btn">
										<button class="btn btn-circle-right btn-default" type="submit">Go!</button>
										</span>
          </div>
        </div>
      </div>
    </div>
    <% group.topics.each do |topic| %>
      <div class="portlet-body">
        <%= link_to group_topic_path(group, topic)  do %>
          <h4><%= topic.title %></h4>
        <% end %>
      <p>
        <%= topic.body %>
      </p>
    </div>
    <% end %>
  </div>
  <!-- END Portlet PORTLET-->