<div class="col-md-8">
  <!-- BEGIN Portlet PORTLET-->
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-paper-plane font-yellow-casablanca"></i>
								<span class="caption-subject bold font-yellow-casablanca uppercase">
								Form Input </span>
        <span class="caption-helper">more samples...</span>
      </div>
      <div class="inputs">
        <div class="portlet-input input-inline input-medium">
          <div class="input-group">
            <input type="text" class="form-control input-circle-left" placeholder="search...">
										<span class="input-group-btn">
										<button class="btn btn-circle-right btn-default" type="submit">Go!</button>
										</span>
          </div>
        </div>
      </div>
    </div>
    <% group.topics.each do |topic| %>
      <div class="portlet-body">
      <h4><%= topic.title %></h4>
      <p>
        <%= topic.body %>
      </p>
    </div>
    <% end %>
  </div>
  <!-- END Portlet PORTLET-->
</div>