  <!-- BEGIN PORTLET-->
  <div class="portlet light ">
    <div class="portlet-title">
      <div class="caption caption-md">
        <i class="icon-bar-chart theme-font-color hide"></i>
        <span class="caption-subject theme-font-color bold uppercase">成员</span>
        <span class="caption-helper hide">共15人</span>
      </div>
      <div class="actions">
        <div class="btn-group btn-group-devided" data-toggle="buttons">
        </div>
      </div>
    </div>
    <div class="portlet-body">
      <div class="table-scrollable table-scrollable-borderless">
        <ul>
          <% members.uniq.each do |member| %>
            <%= image_tag member.avatar, width: "50px", height: "50px", class: "img-circle"%>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <!-- END PORTLET-->