<div class="portlet light">
  <div class="portlet-title">
    <div class="caption font-purple-plum">
      <i class="icon-speech font-purple-plum"></i>
      <span class="caption-subject bold uppercase"> 邀请中的人</span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <div class="btn-group">
      </div>
      <a href="javascript:;" class="btn btn-circle red-sunglo btn-sm">
        <i class="fa fa-plus"></i> Add </a>
    </div>
  </div>
  <div class="portlet-body">
    <div id="main" data-toggle="context">
      <ul>
        <li>小明</li>
        <li>小刚</li>
      </ul>
    </div>
  </div>
</div>
