- if flash[:notice]
  .note.note-success.note-shadow
    %p
      = flash[:notice]
- if flash[:error]
  .Metronic-alerts.alert.alert-danger.fade.in
    %button.close{"data-dismiss" => "alert", "aria-hidden" => "true"}
    %i.fa-lg.fa.fa-warning
      = flash[:error]