<!--<div class="table table-striped" class="files">-->
  <!--<% resources.each do |resource| %>-->

  <!--<div id="template" class="file-row">-->
    <!--&lt;!&ndash; This is used as the file preview template &ndash;&gt;-->
    <!--<div>-->
      <!--<span class="preview"><img data-dz-thumbnail /></span>-->
    <!--</div>-->
    <!--<div>-->
      <!--<p class="name" data-dz-name></p>-->
      <!--<strong class="error text-danger" data-dz-errormessage><%= resource.title  %></strong>-->
    <!--</div>-->
    <!--<div>-->
      <!--<p class="size" data-dz-size></p>-->

    <!--</div>-->
    <!--<div>-->
      <!--<button data-dz-remove class="btn btn-danger delete">-->
        <!--<i class="glyphicon glyphicon-trash"></i>-->
        <!--<span>Delete</span>-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
<!--<% end %>-->
<!--</div>-->

<% resources.each do |resource| %>
  <div class="img-thumbnail"><%= resource %></div>
<% end %>