  <!-- BEGIN PAGE CONTENT-->
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN PROFILE SIDEBAR -->
      <div class="profile-sidebar" style="width: 250px;">
        <!-- PORTLET MAIN -->
        <%= render 'left_profile' %>
        <!-- END PORTLET MAIN -->
      </div>
      <!-- END BEGIN PROFILE SIDEBAR -->
      <!-- BEGIN PROFILE CONTENT -->
      <div class="profile-content">
        <div class="row">
          <div class="col-md-6">
            <!-- BEGIN PORTLET -->
            <!-- END PORTLET -->
          </div>
          <div class="col-md-6">
            <!-- BEGIN PORTLET -->

            <!-- END PORTLET -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- BEGIN PORTLET -->

            <!-- END PORTLET -->
          </div>
          <div class="col-md-6">
            <!-- BEGIN PORTLET -->

            <!-- END PORTLET -->
          </div>
        </div>
      </div>
      <!-- END PROFILE CONTENT -->
    </div>
  </div>
  <!-- END PAGE CONTENT-->
