
<div class="row">

  <div class="col-md-8">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-speech"></i>
          <span class="caption-subject bold uppercase"> Portlet</span>
          <span class="caption-helper">weekly stats...</span>
        </div>
        <div class="actions">
          <a href="javascript:;" class="btn btn-circle btn-default">
            <i class="fa fa-pencil"></i> Edit </a>
          <a href="javascript:;" class="btn btn-circle btn-default">
            <i class="fa fa-plus"></i> Add </a>
          <a href="javascript:;" class="btn btn-circle btn-default btn-icon-only fullscreen" data-original-title="" title=""></a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="note note-info">
          <p>
            Extend Bootstrap's grid system with the thumbnail component to easily display grids of images, videos, text, and more.
          </p>
          <p>
            <%= link_to "新建机构", new_organization_path, class: "black" %>
          </p>
        </div>

        <h4 class="block">Custom Content</h4>
        <div class="row">
          <% @organizations.each do |organization| %>
            <div class="col-sm-12 col-md-3">
              <div class="thumbnail">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMzQiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjM0IiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjExNyIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE1cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjM0eDIwMDwvdGV4dD48L3N2Zz4=" alt="100%x200" style="width: 100%; height: 200px; display: block;" data-src="holder.js/100%x200">
                <div class="caption">
                  <h3><%= organization.name %></h3>
                  <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  </p>
                  <p>
                    <%= link_to "查看", organization_path(organization), class: 'btn blue' %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>

          <!--原始页面-->

        </div>
      </div>
    </div>
    <!-- END Portlet PORTLET-->
  </div>

  <!--推荐机构-->
  <div class="col-md-3">
    推荐机构
    <% 3.times do  %>
      <%= render 'organizations/hot_organization' %>
    <% end %>
  </div>
</div>
