<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption font-red-sunglo">
          <i class="icon-settings font-red-sunglo"></i>
          <span class="caption-subject bold uppercase">申请新建机构</span>
        </div>
      </div>

      <div class="portlet-body form">
        <div class="note note-success">
          <p>
            请填写真实的机构信息，提交申请后我们通过审核后显示。
          </p>
        </div>
        <%= render "form" %>
      </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->
  </div>
</div>