<div class="page-header navbar navbar-fixed-top">
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <a href="index.html">
        <img src="../../assets/admin/layout4/img/logo-light.png" alt="logo" class="logo-default"/>
      </a>

    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->

    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN PAGE ACTIONS -->
    <!-- DOC: Remove "hide" class to enable the page header actions -->

    <!-- END PAGE ACTIONS -->
    <!-- BEGIN PAGE TOP -->
    <div class="page-top">
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">

          <!-- END INBOX DROPDOWN -->
          <!-- BEGIN TODO DROPDOWN -->
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
            <%= link_to organizations_path, class: "dropdown-toggle"  do %>
              <i class="icon-envelope-open"></i>
						<span class="badge badge-danger">
             机构 </span>
            <% end %>
          </li>
          <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
            <%= link_to groups_path, class: "dropdown-toggle"  do %>
              <i class="icon-envelope-open"></i>
						<span class="badge badge-danger">
             群组 </span>
            <% end %>
          </li>

        </ul>
      </div>
      <!-- BEGIN HEADER SEARCH BOX -->
      <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
      <form class="search-form" action="extra_search.html" method="GET">
        <div class="input-group">
          <input type="text" class="form-control input-sm" placeholder="Search..." name="query">
					<span class="input-group-btn">
					<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
        </div>
      </form>
      <!-- END HEADER SEARCH BOX -->
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <li class="separator hide">
          </li>
          <!-- BEGIN NOTIFICATION DROPDOWN -->
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <i class="icon-bell"></i>
						<span class="badge badge-success">
						7 </span>
            </a>

          </li>
          <!-- END NOTIFICATION DROPDOWN -->
          <li class="separator hide">
          </li>
          <!-- BEGIN INBOX DROPDOWN -->
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
            <%= link_to new_user_session_path, class: "dropdown-toggle"  do %>
              <i class="icon-envelope-open"></i>
						<span class="badge badge-danger">
             登录 </span>
            <% end %>

          </li>
          <!-- END INBOX DROPDOWN -->
          <li class="separator hide">
          </li>
          <!-- BEGIN TODO DROPDOWN -->
          <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
          <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
            <%= link_to new_user_registration_path, class: "dropdown-toggle"  do %>
              <i class="icon-envelope-open"></i>
						<span class="badge badge-danger">
             注册 </span>
            <% end %>


          </li>


        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END PAGE TOP -->
  </div>
  <!-- END HEADER INNER -->
</div>